In [2]:
import pandas as pd
import pyarrow as pa
import numpy as np

In [3]:
df = pd.DataFrame({'a':np.ones(4), 'b': np.ones(4)})

In [4]:
t = pa.Table.from_pandas(df)
t

pyarrow.Table
a: double
b: double
__index_level_0__: int64
metadata
--------
{b'pandas': b'{"index_columns": ["__index_level_0__"], "column_indexes": [{"na'
            b'me": null, "field_name": null, "pandas_type": "unicode", "numpy_'
            b'type": "object", "metadata": {"encoding": "UTF-8"}}], "columns":'
            b' [{"name": "a", "field_name": "a", "pandas_type": "float64", "nu'
            b'mpy_type": "float64", "metadata": null}, {"name": "b", "field_na'
            b'me": "b", "pandas_type": "float64", "numpy_type": "float64", "me'
            b'tadata": null}, {"name": null, "field_name": "__index_level_0__"'
            b', "pandas_type": "int64", "numpy_type": "int64", "metadata": nul'
            b'l}], "pandas_version": "0.23.3"}'}

In [5]:
schema1 = t.schema
schema1

a: double
b: double
__index_level_0__: int64
metadata
--------
{b'pandas': b'{"index_columns": ["__index_level_0__"], "column_indexes": [{"na'
            b'me": null, "field_name": null, "pandas_type": "unicode", "numpy_'
            b'type": "object", "metadata": {"encoding": "UTF-8"}}], "columns":'
            b' [{"name": "a", "field_name": "a", "pandas_type": "float64", "nu'
            b'mpy_type": "float64", "metadata": null}, {"name": "b", "field_na'
            b'me": "b", "pandas_type": "float64", "numpy_type": "float64", "me'
            b'tadata": null}, {"name": null, "field_name": "__index_level_0__"'
            b', "pandas_type": "int64", "numpy_type": "int64", "metadata": nul'
            b'l}], "pandas_version": "0.23.3"}'}

In [10]:
t.to_pandas()

     a    b
0  1.0  1.0
1  1.0  1.0
2  1.0  1.0
3  1.0  1.0